html,
body{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.layout {
    display: flex; 
    position: relative;
    justify-content: center;
    align-content: center;
  }

  .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-end;        
    align-items: flex-end;          

  }

  footer{
      display: flex;
      width: 95vw;
     justify-content: flex-end;
      padding-right: 100px;
      position:absolute;
      bottom: 0;
  }

  footer .link {
    text-decoration: none;
    color: rgb(92, 89, 89);
  }